<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Sign Out"/>
</form>
<div>
    Add message:
    <form method="post">
        <input name="text" type="text" placeholder="Enter text">
        <input name="tag" type="text" placeholder="Enter tag">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Insert</button>
    </form>
</div>
<div>
    Filter message:
    <form method="post" th:action="@{/filter}">
        <input name="filter" type="text" placeholder="Enter tag">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit">Filter</button>
    </form>
</div>
<div>
    Messages:
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>MESSAGE</th>
                <th>TAG</th>
            </tr>
            <tr th:each="msg : ${messages}">
                <td th:text="${msg.id}"/>
                <td th:text="${msg.text}"/>
                <td th:text="${msg.tag}"/>
            </tr>
        </table>
    </div>
</div>
</body>
</html>